/* line 7, ../sass/date-picker.scss */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
}

/* line 13, ../sass/date-picker.scss */
.calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -195px;
  width: 360px;
  padding: 15px;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  overflow: hidden;
}
/* line 25, ../sass/date-picker.scss */
.calendar--nav {
  margin: -15px -15px 15px;
  padding: 0 15px;
  background-color: #b670f4;
  color: #fff;
  height: 70px;
  position: relative;
}
/* line 33, ../sass/date-picker.scss */
.calendar--nav a {
  position: absolute;
  cursor: pointer;
  left: 10px;
  font-size: 32px;
  line-height: 1;
  top: 16px;
  width: 30px;
  text-align: center;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  user-select: none;
}
/* line 46, ../sass/date-picker.scss */
.calendar--nav a:hover {
  color: #fff;
}
/* line 50, ../sass/date-picker.scss */
.calendar--nav a:last-child {
  left: auto;
  right: 10px;
}
/* line 56, ../sass/date-picker.scss */
.calendar--nav h1 {
  margin: 0;
  position: absolute;
  left: 40px;
  right: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 30px;
  line-height: 66px;
  user-select: none;
}
/* line 69, ../sass/date-picker.scss */
.calendar--nav small {
  font-weight: 300;
  font-size: 60%;
}
/* line 75, ../sass/date-picker.scss */
.calendar--days {
  font-size: 0;
}
/* line 78, ../sass/date-picker.scss */
.calendar--days span {
  width: 14.28571%;
  display: inline-block;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 8px 0;
  line-height: 34px;
  position: relative;
  font-size: 16px;
}
/* line 89, ../sass/date-picker.scss */
.calendar--days span.label {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  cursor: initial;
}
/* line 97, ../sass/date-picker.scss */
.calendar--days span.active {
  font-weight: 700;
  background-color: rgba(182, 112, 244, 0.05);
  border-radius: 12px;
}
/* line 103, ../sass/date-picker.scss */
.calendar--days span.muted {
  color: rgba(0, 0, 0, 0.3);
}
/* line 107, ../sass/date-picker.scss */
.calendar--days span.between {
  border-radius: 0;
}
/* line 111, ../sass/date-picker.scss */
.calendar--days span.start, .calendar--days span.between, .calendar--days span.end {
  background-color: #b670f4;
  color: #fff;
}
/* line 116, ../sass/date-picker.scss */
.calendar--days span.start {
  border-radius: 12px 0 0 12px;
}
/* line 120, ../sass/date-picker.scss */
.calendar--days span.end {
  border-radius: 0 12px 12px 0;
}
/* line 124, ../sass/date-picker.scss */
.calendar--days span.start.end {
  border-radius: 12px;
}
/* line 128, ../sass/date-picker.scss */
.calendar--days span.between:nth-child(7n):after, .calendar--days span.start:nth-child(7n):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: #b670f4;
  width: 20px;
}
/* line 138, ../sass/date-picker.scss */
.calendar--days span.between:nth-child(7n + 1):after, .calendar--days span.end:nth-child(7n + 1):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  background-color: #b670f4;
  width: 20px;
}
/* line 148, ../sass/date-picker.scss */
.calendar--days span.start.end:after {
  display: none;
}
